
<div class="wrapper">
    <div class="main"><!-- apply onepage_scroll() here -->

        <section class="page1" id="welcome">
            <div class="page page-welcome container">
                <div class="control"></div>
                <div class="content content-intro">
                    <h1>Price Prediction</h1>
                    <p class="text-landing">Price Prediction For Everyone.<br></p>
                    <a href="prediction/upload"class="btn btn-onboarding">Get Started, No Sign-Ups Needed</a>
                </div>
                
            </div>
        </section>
        
        <section class="page2" id="onboarding">
            <div class="page_container">
                <% @predictlist.each do |f|%>
                    <a class="item" href = "items/<%=f.id%>"><%=f.product_name%></a>
                <% end %>
            </div>
        </section>
    </div>
</div>