
<h1><%= @product.product_name %></h1>
<div id="chart">
    
    
</div>

<script>
var ready;
ready = function() {
    var chart = c3.generate({
    bindto: '#chart',
    data: {
        x: 'x',
//        xFormat: '%Y%m%d', // 'xFormat' can be used as custom format of 'x'
        columns: [
            ['x'
            <% for i in 1..@predicted.length %>
                ,<%= i %>
            <% end %>
            ],
//            ['x', '20130101', '20130102', '20130103', '20130104', '20130105', '20130106'],
            ['predicted'
            <% @predicted.each do |i| %>
            , <%= i %>
            <% end %>
            ]
            ,
            ['real'
            <% @real.each do |i| %>
            , <%= i %>
            <% end %>
            ]
        ]
    },
    axis: {
        x: {
        }
    }
});
};
$(document).ready(ready);
$(document).on('page:load', ready);
</script>