<div class="onboarding">
    <div class="container-onboarding cf">
        <div class="container">
            <h1 class="instruction">Hi, please input the name of your product and upload a .txt in the format as following:</h1>
            
            <code>
                558.46
                559.99
                556.97
                567.16
                567
                569.74
                543.14
                538.15
                554.9
                564.14
            </code>
            <p>We'll do the grunt work for you.</p>


        </div>
        
    </div>
</div>

<%= form_tag({action: :create}, multipart: true) do %>
    <%= text_field_tag 'productname', nil, class:"form-control input-hg", placeholder: "Name of product",autocomplete:"off", :required => true%><br/>
    <%= file_field_tag 'data' %>
    <%= submit_tag 'Create Model' %>
<% end %>